* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL */

.App-header {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.App-header img {
  height: 100%;
  object-fit: cover;
}

.main-container {
  width: 100%;
  height: 100vh;
  background-color: #cedeeb;
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 50%;
  height: 50vh;
  position: relative;
  border: #333 solid 1px;
}

.letf-top {
  background-color: #ccc;
  overflow: hidden;
  overflow-y: scroll;
}

.right-top {
  background-color: #aaa;
  overflow: hidden;
  overflow-y: scroll;
}

.right-bottom {
  background-color: #bbb;
  overflow: hidden;
  overflow-y: scroll;
}

.left-bottom {
  background-color: #ddd;
  overflow: hidden;
  overflow-y: scroll;
}

header {
  position: absolute;
  top: 0;
  left: 0;
}

main {
  /* border: rebeccapurple solid 3px; */
  height: 50%;
  width: 100%;
  transform: translateY(50%);
  display: grid;
  place-items: center;
}

footer {
  position: absolute;
  bottom: 0;
  left: 25%;
}

h1 {
  font-size: 1.2rem;
}

p {
  font-size: 0.7rem;
}

.logo {
  font-size: 2rem;
  color: rebeccapurple;
}

/* REACT COUNTER */

.counter-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  vertical-align: baseline;
}

.counter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.counter-var {
  width: 50px;
  height: 50px;
  background-color: rebeccapurple;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
}

.reset {
  width: 50px;
  height: 25px;
  background-color: rebeccapurple;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
}

footer span {
  font-weight: bold;
}

.wrapper {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.box {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.box p {
  text-transform: uppercase;
}

/* MY BANK */

.app-bank {
  width: 98%;
  height: 100%;
  margin: 0 auto;
  box-shadow: 0px 0px 10px #222;
  margin-top: -10px;
}

.bank-header {
  background-color: #222;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.bank-user h2 {
  font-size: 0.6rem;
}

.bank-user {
  /* border: red solid 3px; */
  display: flex;
  width: 14%;
  align-items: center;
  justify-content: space-between;

  /* quand je fais display flex le logo disparait, pourquoi? */
}

.feather-user {
  background-color: white;
  border-radius: 50%;
  padding: 2px;
  height: 20px;
}

.account-head {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.6rem;
}

.account-operations {
  font-size: 0.6rem;
  /* border: blue solid 1px; */
  width: 95%;
  padding: 0 10px;
}

.account-line {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: red solid 1px; */
}

.account-line p {
  /* border: pink 1px solid; */
  width: 30%;
  height: 15px;
  vertical-align: text-top;
  font-size: 0.5rem;
}

.amount {
  text-align: right;
}

.bank-button {
  font-size: 0.5rem;
  border: none;
  padding: 1px;
  border-radius: 1px;
  cursor: pointer;
}

#bank-btn {
  text-align: right;
  height: 15px;
  /* border: red solid 1px; */
  width: 90%;
}

/* PROGRAM TV */

.header-logo-center {
  /* border: red solid 2px; */
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  max-height: 100%;
  object-fit: cover;
}

.program {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.7rem;
  font-weight: 200;
}

.program-time {
  width: 100px;
  height: 100%;
  text-align: center;
  /* border: blue 1px solid; */
}

.program-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: #222 solid 4px; */
  margin-left: 20px;
  width: 200px;
}

.program-timing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

/* TESLA CONFIG */

/* input[type="radio"].tesla-radio {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

input[type="radio"].tesla-radio:checked + label {
  color: red;
} */

.tesla-config {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  border: navy solid 2px;
}

.tesla-config li {
  list-style: none;
}

.config-button {
  background-color: #fff;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 3% 10%;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 5px;
  transition: border 0.2s;
  border: #333 1px solid;
}

.config-button:hover {
  cursor: pointer;
}

.active {
  border: blue 1px solid;
}

.buy {
  background-color: #30516b;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 5px;
}

.total {
  display: flex;
  justify-content: space-between;
  padding: 10px 60px;
  font-weight: 500;
  font-size: 30px;
}

.title-center {
  text-align: center;
  margin: 15px 0;
}

.total-size {
  font-size: 25px;
}

/* FAST GOOD CHEAP */

.fastgoodcheap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.fastgoodcheap .fgc-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.fastgoodcheap .fgc-wrapper > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  margin: 10px 10px;

  width: 100%;
}

.fastgoodcheap > div > p {
  margin-left: 10px;
}

.fastgoodcheap .switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 18px;
  background-color: #aaa;
  border-radius: 45px;
}

.fastgoodcheap .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: -1px;
  background-color: #fff;
  border-radius: 50%;
}

.fastgoodcheap input:checked + .slider:before {
  transform: translateX(25px);
  transition: 0.4s;
}

.fastgoodcheap .red {
  background-color: rgb(204, 79, 79);
}

.fastgoodcheap .green {
  background-color: rgb(77, 219, 77);
}

.fastgoodcheap .blue {
  background-color: rgb(101, 101, 207);
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
}

.maj {
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

/* BIRTHDAY REMINDER */

.br {
  background-color: #9b115b;
  width: 100%;
  height: 100%;
  margin-top: -120px;
  overflow: hidden;
  overflow-y: scroll;
}

.br .container {
  width: 70%;
  background-color: white;
  box-shadow: 0 0 5px #222;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  position: relative;
}

.br button {
  width: 50%;
  color: white;
  background-color: #9b115b;
  font-size: 0.8rem;
  text-transform: capitalize;
  padding: 3px 10px;
  border: none;
}

.br h3 {
  font-size: 0.7rem;
  margin-bottom: 5px;
  text-decoration: underline;
  text-decoration-color: #9b115b;
  text-decoration-thickness: 5px;
}

.br-list h2 {
  font-size: 0.9rem;
  font-weight: 600;
}

.br article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.br img {
  width: 25%;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.artist-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9b115b;
  opacity: 0.9;
  position: absolute;
  bottom: 0;
  right: 0;
  border: #222 solid 3px;
  padding: 25px 20px;
}

.close-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  color: white;
  border: 1px solid #222;
  padding: 1px 2px;
}

.submit-btn:hover {
  cursor: pointer;
}

.close-btn:hover {
  cursor: pointer;
}

.artist-form label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  text-align: left;
}

/*LOREM IPSUM PROJECT*/

/*IDEES : SCRAPPER LE WEB CA POUR DES PHRASES RANDOM DE A LA RECHERCHE DU TEMPS PERDU*/
.section-center {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.section-center h3 {
  text-transform: uppercase;
  margin-top: 20px;
}

.lorem-text {
  width: 95%;
  color: #222;
  border-top: none;
  border-bottom: none;
  border-left: #222 solid 2px;
  border-right: #222 solid 2px;
  padding: 10px;
}

.lorem-par {
  margin-bottom: 10px;
}

/* TIM BURTON MOVIE */

.movie-section-center {
  /* border: red 2px solid; */
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
  height: 350px;
  position: relative;
}

.movie-img {
  height: 30vh;
  object-fit: cover;
}

.movie-section-center article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
}

article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}

article.lastSlide {
  transform: translateX(-100%);
}

article.nextSlide {
  transform: translateX(100%);
}

.slider-btn {
  /* border: blue solid 3px; */
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 0 40px;
  z-index: 3;
}

.slider-btn button {
  background: black;
  color: green;
  border: none;
  padding: 5px;
}

/*NAVBAR*/
.nav-center {
  width: 100%;
  height: 60px;
  border: black solid 3px;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.nav-header img {
  height: 60px;
  object-fit: contain;
  /* border: #222 solid 2px; */
}

.social-icons {
  display: none;
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}

.show-container {
  height: 10rem;
}

/* CALCULATOR */
.calculator-container {
  background: linear-gradient(to right, #f345cd, #01ff96);
  height: 100%;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  margin-top: 1rem;
  grid-template-columns: repeat(4, 1.8rem);
  grid-template-rows: minmax(1.6rem, auto) repeat(5, 1.7rem);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.45rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 0.7rem;
}

.output .current-operand {
  color: white;
  font-size: 1.3rem;
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 0.8rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

/* MATCHING CARD GAME */

.memGame-container {
  font-family: "Lucida Sans", "Lucida Sans Regular";
  background-color: black;
  max-height: 100%;
  box-sizing: content-box;
  text-align: center;
  color: white;
}

.cards-container {
  height: 42vh;
  width: 90%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);

  background-image: url(/public/img/Alice\ background\ 2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card {
  border: white solid 1px;

  display: flex;
  justify-content: center;
  align-items: center;

  transform: rotateY(180deg);
  animation: 2s hidecard linear;
  transition: transform 0.5s;
  border: black 5px solid;
}

@keyframes hidecard {
  0%,
  70% {
    transform: rotateY(0);
    background-color: #222;
  }
  100% {
    transform: rotateY(180deg);
  }
}

.card img {
  max-width: 80%;
  max-height: 80%;
  transform: scale(0);
  animation: 2s hideImage linear;
  transition: transform 0.5s;
}

@keyframes hideImage {
  0%,
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.card.active {
  transform: rotateY(0);
  background-color: #222;
}

.card.correct {
  background-color: rgb(92, 228, 92);
}

.card.wrong {
  background-color: rgb(208, 78, 78);
}

.card.active img {
  transform: scale(1);
}
