* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL */

.main-container {
  width: 100%;
  height: 100vh;
  background-color: #cedeeb;
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 50%;
  height: 50vh;
  position: relative;
  border: #333 solid 1px;
}

.letf-top {
  background-color: #ccc;
}

.right-top {
  background-color: #aaa;
}

.right-bottom {
  background-color: #bbb;
}

.left-bottom {
  background-color: #ddd;
}

header {
  position: absolute;
  top: 0;
  left: 0;
}

main {
  /* border: rebeccapurple solid 3px; */
  height: 50%;
  width: 100%;
  transform: translateY(50%);
  display: grid;
  place-items: center;
}

footer {
  position: absolute;
  bottom: 0;
  left: 25%;
}

h1 {
  font-size: 1.2rem;
}

p {
  font-size: 0.9rem;
  margin: 0 10px;
}

.logo {
  font-size: 2rem;
  color: rebeccapurple;
}

/* REACT COUNTER */

.counter-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  vertical-align: baseline;
}

.counter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.counter-var {
  width: 50px;
  height: 50px;
  background-color: rebeccapurple;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
}

.reset {
  width: 50px;
  height: 25px;
  background-color: rebeccapurple;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
}

footer span {
  font-weight: bold;
}

.wrapper {
  width: 100%;
  height: 90%;
  border: red solid 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.box {
  border: 10px solid blue;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.box p {
  text-transform: uppercase;
}

/*TOGGLE SWITCH CSS*/
.toggle {
  --toggle__width: 40px;
  --toggle__height: calc(var(--toggle__width) / 2);
  --toggle__border-radius: calc(var(--toggle__height) / 2);
  display: inline-block;
  cursor: pointer;
}

.toggle-input {
  display: none;
}

.toggle-fill {
  position: relative;
  width: var(--toggle__width);
  height: var(--toggle__height);
  border-radius: var(--toggle__border-radius);
  background-color: #ccc;
  transition: background 0.2s;
}

/* .toggle-input:checked ~ .toggle-fill {
  background: #ccc;
} */

.toggle-fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: var(--toggle__height);
  width: var(--toggle__height);
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--toggle__border-radius);
  transition: transform 0.2s;
}

.toggle-input:checked ~ .toggle-fill::after {
  transform: translateX(var(--toggle__height));
}

/* MY BANK */

.app-bank {
  width: 98%;
  height: 100%;
  margin: 0 auto;
  box-shadow: 0px 0px 10px #222;
  margin-top: -10px;
}

.bank-header {
  background-color: #222;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.bank-user h2 {
  font-size: 0.6rem;
}

.bank-user {
  /* border: red solid 3px; */
  display: flex;
  width: 14%;
  align-items: center;
  justify-content: space-between;

  /* quand je fais display flex le logo disparait, pourquoi? */
}

.feather-user {
  background-color: white;
  border-radius: 50%;
  padding: 2px;
  height: 20px;
}

.account-head {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.6rem;
}

.account-operations {
  font-size: 0.6rem;
  /* border: blue solid 1px; */
  width: 95%;
  padding: 0 10px;
}

.account-line {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: red solid 1px; */
}

.account-line p {
  /* border: pink 1px solid; */
  width: 30%;
  height: 15px;
  vertical-align: text-top;
  font-size: 0.5rem;
}

.amount {
  text-align: right;
}

.bank-button {
  font-size: 0.5rem;
  border: none;
  padding: 1px;
  border-radius: 1px;
  cursor: pointer;
}

#bank-btn {
  text-align: right;
  height: 15px;
  /* border: red solid 1px; */
  width: 90%;
}
